<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div style="text-align: center; margin-top: 10px;">
    <a href="/" style="margin: 0 10px; text-decoration: none; color: #A683E3; font-weight: bold;">Home</a>
    <a href="/work" style="margin: 0 10px; text-decoration: none; color: #A683E3; font-weight: bold;">Work List</a>
    <a href="/about" style="margin: 0 10px; text-decoration: none; color: #A683E3; font-weight: bold;">About</a>
  </div>
